---
import Image from "../../../public/assets/secondary_photo.jpg";
import "./about.css";
import Info from "./InfoCard.astro";
import ButtonLink from "@components/ButtonLink.astro";
---

<section
  class="min-h-screen w-full space-y-8 flex flex-col md:py-36 py-10 px-4"
  id="about"
>
  <div class="space-y-2">
    <h2 class="text-4xl font-bold text-center">About me</h2>
    <p class="text-gray-500 dark:text-gray-300 font-medium text-center">Getting to know me</p>
  </div>

  <div
    class="max-w-5xl grid md:grid-cols-2 mx-auto min-h-full gap-y-6 lg:gap-x-5 md:py-36 md:p-4 lg:p-8"
  >
    <div>
      <img src={Image.src} alt="" class="about__img mx-auto md:mx-0" />
    </div>
    <div class="flex flex-col w-full h-full gap-6 p-0 sm:p-6 md:p-4">
      <div>
        <Info />
      </div>

      <p class="text-sm sm:text-base text-center md:text-start p-2 md:p-0">
        I'm Kevin, software developer from Caracas - Venezuela. Highly
        interest in blockchain, ZK-proof, Maths, security, interop and embedded sys, with a great
        understanding of solidity and EVM's related chains.
      </p>
      <div class="flex flex-col items-center sm:flex-row gap-4 w-full justify-center">
        <div class="">
          <ButtonLink
            target="_blank"
            link="https://drive.google.com/file/d/1XUAa1pM_F91Wp_SAPGe9lwWTTj_bVELI/view?usp=drivesdk"
          >
            <span class="flex justify-between items-center gap-2"
              >See my CV {" "}
              <i class='bx bx-file button__icon'></i>
            </span>
          </ButtonLink>
        </div>
        <div class="">
          <ButtonLink
            link="/me/ama"
          >
            <span class="flex justify-between items-center gap-2"
              >Know more about me{" "}<i class="uil uil-user button__icon"
              ></i></span
            >
          </ButtonLink>
        </div>
      </div>
    </div>
  </div>
</section>
