.about__img {
  width: 350px;
  border-radius: 1.5rem;

}

.about__box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem;
}

.about__icon {
  font-size: 1.4rem;
  color: var(--ttle-color);
  margin-bottom: var(--mb-0-5);
}


/* For small devices */
@media screen and (max-width: 350px) {

  .about__img {
    width: 250px;
  
  }
 

}