---
const achivements = [
  {
    title: "Experience",
    subtitle: "3 years of professional experience",
    icon: "bx-award",
    index: 1,
  },
  {
    title: "Completed",
    subtitle: "5 projects completed",
    icon: "bx-briefcase-alt",
    index: 2,
  },
  {
    title: "Learning",
    subtitle: "Constanly learning 24/7",
    icon: "bx-brain",
    index: 3,
  },
];
---

<div class="grid grid-cols-3 h-36 max-h-36 w-full md:gap-4">
  {
    achivements.map(({ subtitle, icon, title }) => {
      return (
        <div class="about__box transition-transform hover:scale-105 hover:cursor-pointer max-h-36 h-36 md:max-w-36 ">
          <i class={`bx ${icon} about__icon`} />
          <h3 class="font-medium text-center">{title}</h3>
          <p class="text-xs lg:text-sm mt-2">{subtitle}</p>
        </div>
      );
    })
  }
</div>
