---
import Layout from "../layouts/Layout.astro";
import Home from "../components/home/Home.astro";
import About from "../components/about/About.astro";
---

<Layout title="Main">
  <main>
    <Home />
    <About/>
  </main>
</Layout>

<style></style>
