---
import Layout from "../layouts/Layout.astro";
import Home from "../components/home/Home.astro";
import About from "../components/about/About.astro";
import ScrollUp from "../components/scrollUp/ScrollUp.astro";
import Contact from "../components/contact/Contact.astro";
import BlogSection from "../components/blog/section/BlogSection.astro";
import ProjectsSection from "@components/projects/section/ProjectsSection.astro";
import SkillsSection from "@components/skills/SkillsSection.astro";
---

<Layout title="Main">
  <main>
    <Home />
    <About />
    <SkillsSection />
    <ProjectsSection />
    <BlogSection />
    <Contact />
    <ScrollUp />
  </main>
</Layout>

<style></style>
