---
import Layout from "../layouts/Layout.astro";
import Home from "../components/home/Home.astro";
import About from "../components/about/About.astro";
import ScrollUp from "../components/scrollUp/ScrollUp.astro";
import Contact from "../components/contact/Contact.astro";
---

<Layout title="Main">
  <main>
    <Home />
    <About />
    <Contact />
    <ScrollUp />
  </main>
</Layout>

<style></style>
