---
import Socials  from "./Socials.astro";
import ScrollDown from "./ScrollDown.astro";
import Data from "./Data.astro";
import "./home.css";
---

<section class="home section min-h-screen" id="home">
  <div class="home__container container grid">
    <div class="home__content grid">
      <Socials />
      <div class="home__img"></div>
      <Data />
    </div>
    <ScrollDown />
  </div>
</section>