---
export const socialIcons = [
  { icon: "uil uil-twitter", link: "https://twitter.com/0bkevin", index: 1 },
  {
    icon: "uil uil-github",
    link: "https://github.com/0bkevin/",
    index: 2,
  },
  {
    icon: "uil uil-linkedin",
    link: "https://www.linkedin.com/in/0bkevin/",
    index: 3,
  },
];
---

<div class="home__social">
  {
    socialIcons.map(({ icon, link }) => {
      return (
        <a
          href={link}
          class="text-xl hover:scale-105 active:scale-95 transition-transform text-[#13161d] dark:text-[#FAFAFA]"
          target="_blank"
        >
          <i class={icon} />
        </a>
      );
    })
  }
</div>
