---
interface Props {
  link: string;
  target?: '_blank' | '_self';
}
const { link, target } = Astro.props;
---

<a
  href={link}
  target={target}
  class="block py-4 px-8 rounded-2xl bg-neutral-950 hover:bg-black text-white font-semibold w-full hover:scale-[1.01] active:scale-95 transition-transform dark:bg-stone-900"
>
  <slot />
</a>
