---
import Navbar from "../components/header/Navbar.svelte";
import Footer from "../components/footer/Footer.astro";
import '@styles/global.css';
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Kevin Bravo's personal portfolio. Software engineer with 3 years of experience, specializing in cybersecurity, blockchain, and cryptography."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Kevin Bravo</title>
  </head>
  <header>
    <Navbar client:only="svelte" />
  </header>
  <body>
    <slot />
  </body>
  <Footer />
</html>
